body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter";
}

.profile {
  background-color: hsl(0, 0%, 12%);
  margin: 10rem 37rem;
  height: auto;
  width: 275px;
  border-radius: 11px;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
}

.profile-picture {
  height: 75px;
  border-radius: 50px;
}

.name {
  margin-bottom: 0;
  font-size: 20px;
}

.location {
  margin-top: 7px;
  font-size: 12px;
  color: hsl(75, 94%, 57%);
}

.role {
  font-size: 12px;
  color: hsl(0, 0%, 82%);
  margin: 1.2rem 1.6rem;
}

.profile-links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.Social-links {
  text-decoration: none;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  padding: 0.8rem 0;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
}

.Social-links:active,
.Social-links:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}

@media (max-width: 376px) {
  .profile {
    margin: 2rem 1rem;
  }
}
